section{
  padding: 0 1%;
}
.title{
  text-align: center;
  font-weight: 600;
  margin: 5%;
}
li .title{
}
#timestamp{
opacity: 0.7;
font-size: 1.3vw;
margin: 3% 0;
}
ul.list .head{
font-family: math;
}
ul.list li{
opacity: 0.8;
}
div.head p{
  padding-left: 2%;
}
.ps{
font-size: 1.4vw;
opacity: 0.7;
}
.Q{
font-family: monospace;
font-weight: 600;
margin-top: 5%;
}
.A{
padding-left: 2%;
opacity: 0.8;
}
.t2 .h2{
  font-weight: 600;
  opacity:0.8;
}
a{
  color: unset;
  text-decoration: none;
  font-size: 1.5vw;
}
code{
  font-weight: 600;
}

/* ABOUT.html */

#ABOUT .content p{
  opacity: 0.8;
}
#ABOUT .contact{
  margin-top:2%;
}
#ABOUT .contact p{
  font-weight:300
}
#ABOUT .contact p span{
  font-size:small;
  font-weight:600
}

/* Follow Us and Social Links */

section.follow-us{
  text-align:center;
  padding-top:10%;
}
section.follow-us p:first-child{font-size:3vw;}
section.follow-us p+p{
  padding:2%;
  margin:2% auto;
  border-top:solid 1px #aaa;
  width:70%;
  font-weight:500;
}
.social-icons,
.social-icons *{
  display:flex;
  justify-content:space-evenly;
}

#twitter{display:none}

.social-media{
  padding-bottom:2% !important;
}

section.social-media{
  text-align:center;
  padding-top:10%;
}
section.social-media p:first-child{font-size:3vw;}
section.social-media p+p{
  padding:2%;
  margin:2% auto;
  border-top:solid 1px #aaa;
  width:70%;
  font-weight:500;
}

section.copyright{
  margin-top:5%;
  opacity: 0.6;
}

section.copyright p{font-size:3vw;}