section{
  padding: 0 1%;
  font-size:10px;  
}
p{
  font-size: 10px;
}
.title{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 5%;
}
.heading{
  font-size:13px;
}
ol#toc-expand{
  padding-inline-start:10px;
}
ol#toc-expand ol{
  padding-inline-start:20px;
}
ol#toc-expand .heading{
  font-size:11px;
  background: lightgray;
  padding: 2% 0;
}
ul{
  padding-inline-start:20px;  
}
li .title{
}
#timestamp{
  opacity: 0.7;
  font-size: 5px;
  margin: 3% 0;
}
ul.list .head{
font-family: math;
font-size:10px;
}
ul.list li{
opacity: 0.8;
font-size:10px;
}
div.head p{
  padding-left: 2%;
}
.ps{
font-size: 6px;
opacity: 0.7;
}
.Q{
font-family: monospace;
font-weight: 600;
margin-top: 5%;
}
.A{
padding-left: 2%;
opacity: 0.8;
}
.t2 .h2{
  font-weight: 600;
  opacity:0.8;
  background: bisque;
}
a{
  color: unset;
  text-decoration: none;
  font-size: 10px;
}
code{
  font-weight: 600;
  background:aliceblue;
}

/* ABOUT.html */

#ABOUT .content p{
  opacity: 0.8;
}

/* contact and address */

.contact{
  margin-top:2%;
}
.contact p{
  font-weight:300
}
.contact p span{
  font-size:10px;
  font-weight:600
}

/* Follow Us and Social Links */

section.social-media{
  padding-bottom:2% !important;
  text-align:center;
  padding-top:10%;
}

section.social-media p:first-child{font-size:7px;}
section.social-media p+p{
  font-size:10px;
  padding:2%;
  margin:2% auto;
  border-top:solid 1px #aaa;
  width:70%;
  font-weight:600;
}
.social-icons,
.social-icons *{
  display:flex;
  justify-content:space-evenly;
}
.social-icons *{
  width:15px
}
#twitter{display:none}

section.copyright{
  margin-top:5%;
  opacity: 0.6;
}

section.copyright p{
  font-size:7px;
  text-align:center;
}