<link href="{{root_CDN}}/static/css/legal.css" rel="stylesheet">
<page id="ABOUT">
<section class="content">
    <div class="title">
        {{app_name}}
    </div>
    <p>
        Welcome to {{app_name}}! We specialize in listing a wide range of Smartphone products, providing users with
        convenient access to a diverse selection just like the TOP TRUSTED BRANDS. Our goal is to offer a seamless
        shopping experience while showcasing the latest and most prefered smartphones in the market.
    </p>
</section>
<section>
    <div class="title heading">
        Application Information
    </div>
    <p>
        The {{app_name}} is a web based applicaion, which is developed and managed by {{company_name}}.
        The application version 2.0 is the first published version of {{app_name}} with limited features and functionalities.
        It provides only the fundamental functions of the application to users.
        Some features which are not published to users are still under development and will be available to users with forthcoming updates.
    </p>
</section>
<section>
    <div class="title heading">
        {{company_name}}
    </div>
    <p>
        The {{company_name}} is a Holding Company as well as an Investment Entity founded recently in year 2024.
        We focus on Technology and Strategic Investments, aiming to drive growth and value creation.
        {{company_name}} plans to expand by forming subsidiary companies majorly in Technology, Investments, and related domains to diversify its portfolio and capitalize on emerging market trends.
    </p>
</section>
<section class="authorities">
    <div class="title heading">
        Authorities
    </div>
    <div class="auth-list">
        <p><span>Founder:</span> {{company_founder}}</p>
        <p><span>CEO:</span> {{company_ceo}}</p>
    </div>
</section>
<section class="contact">
    <div class="title heading">
        Contact
    </div>
    <div class="address">
        <p><span>Company Name:</span> {{company_name}}</p>
        <p><span>Company Address:</span> {{company_address}}</p>
        <p><span>Company Phone Number:</span> {{company_phone}}</p>
        <p><span>Company Email:</span> {{company_mail}}</p>
        <p><span>Customer Care Phone:</span> {{company_support_phone}}</p>
        <p><span>Customer Care Email:</span> {{company_support_mail}}</p>
    </div>
</section>
<section class="social-media">
    <p>Made In India</p>
    <p>Follow Us</p>
    <div class="social-icons">
        <div id="whatsapp" class="icon">
            <a href="{{social_links.wapp}}">
                <img src="{{root_CDN}}/static/images/whatsappHolo.svg" alt="whatsapp">
            </a>
        </div>
        <div id="youtube" class="icon">
            <a href="{{social_links.yt}}">
                <img src="{{root_CDN}}/static/images/youtubeHolo.svg" alt="youtube">
            </a>
        </div>
        <div id="instagram" class="icon">
            <a href="{{social_links.insta}}">
                <img src="{{root_CDN}}/static/images/instagramHolo.svg" alt="instagram">
            </a>
        </div>
        <div id="facebook" class="icon">
            <a href="{{social_links.fb}}">
                <img src="{{root_CDN}}/static/images/facebookWhite.svg" alt="facebook">
            </a>
        </div>
        <div id="twitter" class="icon">
            <a href="{{social_links.tweet}}">
                <img src="{{root_CDN}}/static/images/twitterHolo.svg" alt="twitter">
            </a>
        </div>
    </div>
</section>
</section>
<section class="copyright">
  <p>Copyright © 2024 {{company_name}}. All rights reserved.</p>
</section>
</page>