<section class="content">
    <div class="title">
        <h6>{{app_name}}</h6>
    </div>
    <p>
        Welcome to {{app_name}}! We specialize in listing a wide range of Smartphone products, providing users with
        convenient access to a diverse selection just like the TOP known BRANDS. Our goal is to offer a seamless
        shopping experience while showcasing the latest and most prefered smartphones in the market.
    </p>
</section>
<section class="contact">
    <div class="title">
        <h6>Contact</h6>
    </div>
    <div class="address">
        <p><span>Company Name:</span> {{company_name}}</p>
        <p><span>Company Address:</span> {{company_address}}</p>
        <p><span>Company Phone Number:</span> {{company_phone}}</p>
        <p><span>Company Email:</span> {{company_mail}}</p>
        <p><span>Customer Care Phone:</span> {{company_support_phone}}</p>
        <p><span>Customer Care Email:</span> {{company_support_mail}}</p>
    </div>
</section>
<section class="social-media">
    <p>Made In India</p>
    <p>Follow Us</p>
    <div class="social-icons">
        <div id="whatsapp" class="icon">
            <a href="{{social_links.wapp}}">
                <img src="{{root}}/static/images/whatsappHolo.svg" alt="whatsapp.svg">
            </a>
        </div>
        <div id="youtube" class="icon">
            <a href="{{social_links.yt}}">
                <img src="{{root}}/static/images/youtubeHolo.svg" alt="youtube.svg">
            </a>
        </div>
        <div id="instagram" class="icon">
            <a href="{{social_links.insta}}">
                <img src="{{root}}/static/images/instagramHolo.svg" alt="instagram.svg">
            </a>
        </div>
        <div id="facebook" class="icon">
            <a href="{{social_links.fb}}">
                <img src="{{root}}/static/images/facebookBlack.svg" alt="facebook.svg">
            </a>
        </div>
        <div id="twitter" class="icon">
            <a href="{{social_links.tweet}}">
                <img src="{{root}}/static/images/twitterBlack.svg" alt="twitter.svg">
            </a>
        </div>
    </div>
</section>
