/* slide1 */
.gender{
  width:100%;
  display:flex;
  justify-content:space-evenly;
  margin-top:30%;
}
.gender div{
  border:solid 1px;
  border-radius:50%;
  width:40%;  
}
.gender div.male{background:var(--color-male-off);}
.gender div.female{background:var(--color-female-off);}

.gender img{width:40%;}

.slide1 .btns .bottom{
  display:flex;
  justify-content:space-evenly;
}
.slide1 .btns p{
  margin:5%;
  font-weight:700;
  font-family:ABeeZee;
}
.slide1 button{
  padding:6%;
  width:30vw;
}
/* slide2 */
.slide2 .top{position:relative;overflow:hidden;}

.slide2 .mid{margin-top:10%;}
.slide2 .mid * div{width:50%;}
.slide2 .mid .select{
  display:flex;
  margin-top:10%;
}
.slide2 .mid .icon{width:30%;margin:auto;margin-top:10%;}
.slide2 .mid input{width:100%;}

/* slide3 */
.slide3 {--color-on:#70ffbd;}
.slide3 .list{
  margin-top:10%;
  height:60vh;
}
.slide3 .list button{
  height:12vw;
  margin:2% 1%;
}
/* slide4 */
.slide4 .img{width:100%;}
.slide4 .img img{width:70%;}
.slide4 .birth{margin-top:5%;font-weight:500;}
.slide4 .birth .bday{
  display:flex;
  justify-content:space-evenly;
  margin-top:5%;
}
.slide4 .bday * {width:40%;}
.slide4 input#year{width:50%;}
.slide4 input{
  padding: 6px; 
  border: 2px solid #ccc;
  border-radius: 20%;
  font-size: 5vw;
  text-align: center;
  outline: none;
}
.slide4 .bday p{font-size:4vw; font-weight:600;color:#0008;width:100%;}

/* slide5 */
.slide5 .icon{margin:10% 0;width:100%;height:40vw;}
.slide5 .icon img{height:100%;}
.slide5 .address div{
  display:flex;
  justify-content:space-between;
  margin:3% 4%;
  font-weight:600;
  font-family:Abeezee;
}
.slide5 p{font-size:4.5vw}
.slide5 input{
  padding: 2%;
  border: 2px solid #ccc;
  border-radius: 10vw;
  font-size: 4.5vw;
  text-align: center;
  outline: none;
}

